h1{
    color: dodgerblue;
    margin-left: 50px;
}

button{
   margin: 15px;
   margin-left: 115px;
}

.grid{
    display: grid;
    height: 270px;
    width: 270px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.box{
    border: 2px black solid;
}

.white{
    background-color: white;
}

.black{
    background-color: black;
}
