<!doctype html>
<html>
    <head>
        <title>Chessboard</title>
        <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css"/>
    </head>
    <body>
        <h1>Chessboard</h1>
    <div class="grid">
        {%  for i in range(8) %}
            {% for j in range(8) %}
                {% if (i % 2 == 0 and j % 2 == 0) or (i % 2 != 0 and j % 2 != 0) %}
                    <div class="white box"></div>
                {% else %}
                    <div class="black box"></div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    </body>
</html>

<!-- Jinja2 code example
{{test}}
{% for item in list %}
    {{item}}
{% endfor %}
-->