<!doctype html>
<html>
    <head>
        <script src="https://cdn4.bethel.edu/tinker/js/jquery-1.10.2.js" type="text/javascript"></script>
        <title>Chessboard</title>
        <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css"/>
    </head>
    <body>
        <h1>Chessboard</h1>
        <div class="grid">
            {%  for row in board %}
                {% for spot in row %}
                    <div class="{{ spot['color'] }} {{ spot['class'] }}"></div>
                {% endfor %}
            {% endfor %}
        </div>
        <button id="swap">Swap</button>

        <script>
            $('#swap').click(function () {
                    var inputs = {};
                    var url = "/change-color-board";
                    $.post(url, inputs, function (data) {
                        // take the data, and update the chess board div
{#                        $("#chessboard").html(data);#}
                        //updateTable(data)
                        console.log("I clicked it");
                        console.log(data);
                    });
                });
        </script>

    </body>
</html>